html {
  font-family: "Rubik", sans-serif;
}

section.jumbotron,
section.adventages {
  height: 650px;
}

nav button {
  background-color: rgba(255, 186, 51, 1);
}

.jumbotron {
  padding-top: 80px;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/general/jumbotron.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 60px;
  background-attachment: fixed;
}

.jumbotron h1,
.jumbotron p {
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron button.started {
  background-color: rgba(255, 186, 51, 1);
}

#advantages .report {
  height: 200px;
  margin-top: -100px;
  width: 100%;
}

.box-advent {
  display: grid;
  height: 55px;
  width: 55px;
  background-color: rgba(255, 186, 51, 1);
  text-align: center;
  margin-left: 140px;
}

.box-advent i {
  align-self: center;
}

.report h1 {
  font-weight: bold;
  font-size: 20px;
}

.favo-sect {
  height: 760px;
}

.favo-img {
  height: 150px;
  width: 150px;
}

.favo-sect .picture,
.favo-sect .list,
.favo-sect .cost {
  display: flex;
  justify-content: center;
}

.favo-sect .picture {
  flex: 1;
}

.favo-sect .list {
  flex: 1;
}

.favo-sect .list {
  flex: 1;
}

/* .favo-sect .list div {
  line-height: 50px;
} */


