body {
  background-color: silver;
}

section {
  height: 650px;
  padding-top: 80px;
}

nav button {
  background-color: rgba(255, 186, 51, 1);
}

.jumbotron {
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/general/jumbotron.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 60px;
  background-attachment: fixed;
}

.jumbotron h1,
.jumbotron p {
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron button.started {
  background-color: rgba(255, 186, 51, 1);
}

#advantages .report {
  height: 200px;
  margin-top: -180px;
}

.box-advent {
  display: grid;
  height: 55px;
  width: 55px;
  background-color: rgba(255, 186, 51, 1);
  text-align: center;
  margin-left: 150px;
}

.box-advent i {
  align-self: center;
}
